{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Management System</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico.jpg' %}">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="list_events">Events</a>
            <a href="user_signin">Signin</a>
            <a href="user_signup">Signup</a>
            <a href="signout">Signout</a>
            <a href="user_privilage">Check Privilage</a>
        </nav>
        <div class="profile-container">
            <img src="{% static 'images/default-profile.png' %}" alt="Profile Icon" class="profile-icon" onclick="toggleDropdown()">
            <div id="dropdown" class="dropdown-menu">
                <a href="#">Profile</a>
                <form method="post" enctype="multipart/form-data">
                    <label for="profilePicture" class="upload-label">Upload Profile Picture</label>
                    <input type="file" name="profilePicture" id="profilePicture">
                    <button type="submit" class="btn-upload">Upload</button>
                </form>
                <a href="change_password">Change Password</a>
            </div>
        </div>
    </header>

    <section class="hero">
        <div class="hero-content">
            <h1>Welcome to Event Management System</h1>
            <p>Organize events effortlessly with our intuitive event management system.</p>
            <a href="list_events" class="btn">Explore Events</a>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 Event Management System. All rights reserved.</p>
    </footer>

    <script>
        function toggleDropdown() {
            var dropdown = document.getElementById("dropdown");
            dropdown.classList.toggle("show");
        }

        window.onclick = function(event) {
            if (!event.target.matches('.profile-icon')) {
                var dropdowns = document.getElementsByClassName("dropdown-menu");
                for (var i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
</body>
</html>
