{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Event Management System{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="icon" type="x-icon" href="{% static 'images/favicon.ico.jpg' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/@uiball/loaders@1.0.0/dist/umd/bundle.min.css">
  <script src="https://unpkg.com/@uiball/loaders@1.0.0/dist/umd/bundle.min.js"></script>
</head>
<body>

<div class="container">
  <div class="login-form">
    <h1>Signin</h1>
    <form id="loginForm" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <p>Don't have an account? <a href="{% url 'user_signup' %}">Register</a></p>
  </div>
</div>


<div id="loader" style="display: none;">
  <div class="uiball-spinner"></div>
</div>

<div class="modal" id="loginErrorModal" tabindex="-1" role="dialog" aria-labelledby="loginErrorModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginErrorModalLabel">Oops!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="errorMessage">Invalid username or password. Please try again.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function() {
    $('#loginForm').submit(function(event) {
      event.preventDefault();
      var formData = $(this).serialize();
      $('#loader').show(); 
      $.ajax({
        type: 'POST',
        url: '{% url "user_signin" %}',
        data: formData,
        success: function(response) {
          if (response.success) {
            window.location.href = '{% url "home" %}';
          } else {
            $('#loader').hide(); 
            $('#errorMessage').text(response.error_message);
            $('#loginErrorModal').modal('show');
          }
        },
        error: function(xhr, status, error) {
          $('#loader').hide(); 
          $('#errorMessage').text('An error occurred. Please try again later.');
          $('#loginErrorModal').modal('show');
        }
      });
    });
  });
</script>
</body>
</html>
